
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-phone-outline:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */